pkgbase = brother-mfc7880dw-cups-bin
	pkgdesc = CUPS wrapper for Brother MFC-7860DW printer
	pkgver = 1.4.0
	pkgrel = 1
	url = https://support.brother.com/g/b/producttop.aspx?c=us_ot&lang=en&prod=mfc7860dw_all
	arch = i686
	arch = x86_64
	groups = base-devel
	license = EULA
	source = https://support.brother.com/g/b/downloadhowto.aspx?c=us_ot&lang=en&prod=mfc7860dw_all&os=128&dlid=dlf006287_000&flang=4&type3=561
	md5sums = 1b15760a7c84634a56ebcf8f66d8be42

pkgname = brother-mfc7880dw-cups-bin

